@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-BOLD";
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
}

body img:first-child {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

/* Header */

header {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding-inline: 20px;
    color: #ffff;
}

.logoName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    letter-spacing: 2px;
}

header a {
    color: #ffff;;
}

header i {
    font-size: 35px;
}

.container {
    height: 82%;
    display: flex;
    justify-content: center;
}

/* Circle Balance */

.circle {
    display: grid;
    place-content: center;
    margin-top: 65px;
    background-color: var(--color-primary);
    height: 230px;
    width: 230px;
    border-radius: 100%;
    text-align: center;
    color: #ffff
    ;
}


.circle p {
    font-size: 30px;
    width: 200px;
}
.circle span {
    font-size: 30px;
}

.circle dollar {
    font-size: 20px;
}