@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bold";
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    background: var(--color-background);
    overflow-x: hidden;
    overflow-y: scroll;
}

#fondoLineas {
    z-index: -1;
    position: absolute;
    object-fit: contain;
    width: 100vw;
}

/* Header */

header {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding-inline: 20px;
    color: #ffff;
    }
    
.logoName {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
letter-spacing: 2px;
}

header a {
color: #ffff;;
}

header i {
font-size: 35px;
}

/* User */

.user {

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    color: var(--color-white);
}

.user #balanceText {
    font-family: "Regular";
    letter-spacing: 2px;
    font-size: 2em;
}

.user h1 {
    font-size: 2em;
}

/* Progress Bars */

.progressBars {
    margin-top: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
}

.savings, .assets {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Regular";
}

.savings p, .assets p {
    font-size: 1.5em;
}

.savings small, .assets small {
    font-family: "Regular"
}

dollar {
    font-size: 0.6em;
}

.progress {
    margin-top: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--color-white);
}

.progressFill1 {
    border-radius: 10px;
    height: 100%;
    width: 80%;
    background-color: var(--color-purple);
}

.progressFill2 {
    border-radius: 10px;
    height: 100%;
    width: 40%;
    background-color: var(--color-gray);
}

/* activities & transactions */

.activitiesTransactions {
    flex: 1;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-top: 10px;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 58vh;
    background-color: #Ffff;
    color: var(--color-background);
    padding-inline: 30px
}


.activities {
    flex: 1;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow-x: scroll;
}

.activity {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    min-height: 120px;
    box-shadow: 0px 0px 5px rgb(222, 222, 222);
}

.transactions {
    box-sizing: border-box;
    flex: 3;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    overflow-y: scroll;
    align-content: start;
    height: auto;
    justify-self: center;
    width: 100%;
    position: relative;
}

.transaction {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 80px;
}

.transactionLeft {
    display: flex;
    gap: 5px;
}

.transaction img{

    width: 50px;
}

.transactionDescription, .transactionValue{

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 5px;

}

.transactionValue {
    align-items: end;
}

.transactionDescription b, .transactionValue b{
    font-size: 1.2em;
}

.transactionDescription small, .transactionValue small{
    color: var(--color-gray)
}

.menu {
    background-color: var(--color-menunav);
    position: fixed;
    bottom: 0;
}

.menu ul {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    -webkit-tap-highlight-color: transparent;
}

.menu ul li i {
    color: var(--color-white);
    outline: none;
    font-size: 30px;
    text-align: center;
    position: relative;
    transition: 0.3s ease-in-out;
}


.menu ul li i:hover {
    color: var(--color-purple);
    transition: 0.3s ease-in-out;
}

header {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    padding-inline: 20px;
    color: var(--color-white);
    overflow: hidden;
}

.logoName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    letter-spacing: 2px;
}

.logoName h1 {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.799);

}

header a, header svg {
    fill: var(--color-white);
    color: var(--color-white);
    font-size: 35px;
    height: 32px;
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.799));
}