@font-face {
    font-family: "Regular";
    src: url(../storage/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Bold";
    src: url(../storage/fonts/Poppins/Poppins-Bold.ttf);
}

:root{
    --color-purple: #6451FC;
    --color-background: #070707;
    --color-gray: #6C757D;
    --color-menunav: #121212;
    --color-white: #ffffff;
}