@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: "SF-Pro-Text-Bold";
    src: url(../storage/fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family: "SF-Pro-Text-Light";
    src: url(../storage/fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Light.ttf);
}

:root{
    --color-primary: #00DDA3;
    --color-secundary: #33404F;
    --color-font: #ffff;
    --color-gray: #B5C5C3;
}

